name: Build Nightly
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    
      - name: Checkout BTV Repository
        uses: actions/checkout@v4
        with:
          repository: 'valeriotor/Beyond-The-Veil'
          ref: '1.20'
          submodules: true
          
      - name: Setup Java
        uses: actions/setup-java@v4.5.0
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'
          
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0
        with:
          gradle-version: "7.4"
          
      - name: Build with Gradle
        run: ./gradlew build

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: nightly
          path: build/libs/*.jar
